statusbar frame {
    border: none;
    padding-left: 6px;
    padding-right: 6px;
}

statusbar button.flat {
    border-radius: 0;
    border-bottom: none;
}

BeditFileBrowserWidget .small-button {
  padding: 2px 4px;
}

