statusbar {
    border-top: 1px solid @borders;
}

.bedit-search-slider {
    background-color: @theme_base_color;
    padding: 6px;
    border-color: @borders;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.bedit-search-entry-occurrences-tag {
    background-color: @theme_base_color;
    background-image: none;
    color: shade (@theme_unfocused_fg_color, 0.8);
    border: 0px;
    margin: 2px;
    padding: 2px;
}

