.bedit-side-panel-paned.pane-separator:dir(ltr),
.bedit-side-panel-paned.pane-separator:hover:dir(ltr) {
    border-radius: 0;
    border-width: 0 1px 0 0;
}

.bedit-side-panel-paned.pane-separator:dir(rtl),
.bedit-side-panel-paned.pane-separator:hover:dir(rtl) {
    border-radius: 0;
    border-width: 0 0 0 1px;
}

.bedit-menu-stack-switcher {
    padding: 12px;
}

statusbar frame {
    border: none;
    padding-left: 6px;
    padding-right: 6px;
}

statusbar button.flat {
    border-radius: 0;
    border-bottom: none;
}

BeditFileBrowserWidget .small-button {
  padding: 2px 4px;
}

