.gedit-titlebar-left:dir(ltr),
.gedit-titlebar-right:dir(rtl) {
    border-top-right-radius: 0;
}

.gedit-titlebar-right:dir(ltr),
.gedit-titlebar-left:dir(rtl) {
    border-top-left-radius: 0;
}

.gedit-headerbar-paned.pane-separator:dir(ltr),
.gedit-headerbar-paned.pane-separator:hover:dir(ltr) {
    border-radius: 0;
    border-width: 0 1px 1px 0;
}

.gedit-side-panel-paned.pane-separator:dir(ltr),
.gedit-side-panel-paned.pane-separator:hover:dir(ltr) {
    border-radius: 0;
    border-width: 0 1px 0 0;
}

.gedit-headerbar-paned.pane-separator:dir(rtl),
.gedit-headerbar-paned.pane-separator:hover:dir(rtl) {
    border-radius: 0;
    border-width: 0 0 1px 1px;
}

.gedit-side-panel-paned.pane-separator:dir(rtl),
.gedit-side-panel-paned.pane-separator:hover:dir(rtl) {
    border-radius: 0;
    border-width: 0 0 0 1px;
}

.gedit-menu-stack-switcher {
    padding: 12px;
}

.gedit-map-frame:dir(ltr) {
    border-width: 0 0 0 1px;
}

.gedit-map-frame:dir(rtl) {
    border-width: 0 1px 0 0;
}

.open-document-selector-treeview {
    padding: 3px 6px 3px 6px;
}

GeditStatusbar .frame {
    border: none;
    padding-left: 6px;
    padding-right: 6px;
}

GeditFileBrowserWidget .small-button {
  padding: 2px 4px;
}

