<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>gedit Text Editor</Name>
    <Version>@VERSION@</Version>
    <Title>gedit Text Editor</Title>
    <Publisher>The gedit Developers</Publisher>
    <ProductUrl>http://www.gedit.org</ProductUrl>
    <Logo>../../../pixmaps/gedit-logo.png</Logo>
    <StartMenuDir>gedit Text Editor</StartMenuDir>
    <RunProgram>@TargetDir@/bin/gedit.exe</RunProgram>
    <RunProgramArguments></RunProgramArguments>
    <InstallerApplicationIcon>../../../pixmaps/gedit.ico</InstallerApplicationIcon>
    <InstallerWindowIcon>../../../pixmaps/gedit.ico</InstallerWindowIcon>
</Installer>
